<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.manvaasam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".quasartechweb"
            android:screenOrientation="portrait"/>
        <activity android:name=".searchact"
                  android:screenOrientation="portrait"/>
        <activity android:name=".coursuccess"
                  android:screenOrientation="portrait"/>
        <activity android:name=".adminseepackdet"
                android:screenOrientation="portrait"/>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".seecorudet"
            android:screenOrientation="portrait"/>
        <activity android:name=".courtrack"
            android:screenOrientation="portrait"/>
        <activity android:name=".trackweb"
            android:screenOrientation="portrait"/>
        <activity android:name=".sucess"
            android:screenOrientation="portrait"/>
        <activity android:name=".trackpack"
            android:screenOrientation="portrait"/>
        <activity android:name=".createpack"
            android:screenOrientation="portrait"/>
        <activity android:name=".signin"
            android:screenOrientation="portrait"/>
        <activity android:name=".searchpackt"
            android:screenOrientation="portrait"/>
        <activity android:name=".login_screen"
            android:screenOrientation="portrait"/>
        <activity android:name=".splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>